-- CreateTable
CREATE TABLE `countrycontent` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `slug` VARCHAR(191) NOT NULL,
    `apiType` VARCHAR(191) NOT NULL,
    `section1Title` VARCHAR(191) NOT NULL,
    `section1Content` TEXT NOT NULL,
    `section2Title` VARCHAR(191) NOT NULL,
    `section2Content` TEXT NOT NULL,
    `faqs` LONGTEXT NOT NULL,
    `section1img` VARCHAR(191) NOT NULL,
    `section2img` VARCHAR(191) NOT NULL,

    UNIQUE INDEX `CountryContent_slug_key`(`slug`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `flight` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `tripType` VARCHAR(191) NOT NULL,
    `airlineName` VARCHAR(191) NOT NULL,
    `airlineLogo` VARCHAR(191) NOT NULL,
    `departureCode` VARCHAR(191) NOT NULL,
    `departureCity` VARCHAR(191) NOT NULL,
    `destinationCode` VARCHAR(191) NOT NULL,
    `destinationCity` VARCHAR(191) NOT NULL,
    `price` DOUBLE NOT NULL,
    `dates` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `slug` VARCHAR(191) NOT NULL,
    `apiType` VARCHAR(191) NOT NULL,

    UNIQUE INDEX `Flight_slug_key`(`slug`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `flightdetail` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `departureCities` LONGTEXT NOT NULL,
    `destination` VARCHAR(191) NOT NULL,
    `airlines` LONGTEXT NOT NULL,
    `classOption` VARCHAR(191) NOT NULL,
    `packageId` INTEGER NOT NULL,

    UNIQUE INDEX `FlightDetail_packageId_key`(`packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `highlight` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `holidayBreakId` INTEGER NOT NULL,

    INDEX `Highlight_holidayBreakId_fkey`(`holidayBreakId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `holidaybreakfeatures` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `holidayBreakId` INTEGER NOT NULL,

    INDEX `HolidayBreakFeatures_holidayBreakId_fkey`(`holidayBreakId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `holidaybreakimage` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `url` VARCHAR(191) NOT NULL,
    `holidayBreakId` INTEGER NOT NULL,

    INDEX `HolidayBreakImage_holidayBreakId_fkey`(`holidayBreakId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `holidaybreaks` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(191) NOT NULL,
    `category` VARCHAR(191) NOT NULL,
    `shortDesc` TEXT NOT NULL,
    `rating` ENUM('STAR_1', 'STAR_2', 'STAR_3', 'STAR_4', 'STAR_5') NOT NULL,
    `type` ENUM('HOLIDAY', 'CITY_BREAK', 'INCLUSIVE_HOLIDAY', 'BEACH_HOLIDAY', 'FAMILY_HOLIDAY', 'Last_Minute_Holidays') NOT NULL,
    `month` VARCHAR(191) NULL,
    `duration` INTEGER NOT NULL,
    `price` DOUBLE NOT NULL,
    `bestTimeToVisit` VARCHAR(191) NULL,
    `desc` VARCHAR(191) NULL,
    `location` VARCHAR(191) NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `holidaypackage` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(191) NOT NULL,
    `slug` VARCHAR(191) NOT NULL,
    `shortDesc` TEXT NOT NULL,
    `description` TEXT NOT NULL,
    `star` ENUM('STAR_1', 'STAR_2', 'STAR_3', 'STAR_4', 'STAR_5') NOT NULL,
    `type` ENUM('HOLIDAY', 'CITY_BREAK', 'INCLUSIVE_HOLIDAY', 'BEACH_HOLIDAY', 'FAMILY_HOLIDAY', 'Last_Minute_Holidays') NOT NULL,
    `month` VARCHAR(191) NULL,
    `duration` INTEGER NOT NULL,
    `makkahHotel` VARCHAR(191) NULL,
    `madinahHotel` VARCHAR(191) NULL,
    `price` DOUBLE NOT NULL,
    `isFeatured` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `HolidayPackage_slug_key`(`slug`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `holidaypackageimage` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `url` VARCHAR(191) NOT NULL,
    `slideTitle` VARCHAR(191) NULL,
    `slideDesc` VARCHAR(191) NULL,
    `holidayPackageId` INTEGER NOT NULL,

    INDEX `HolidayPackageImage_holidayPackageId_fkey`(`holidayPackageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `holidaypackageitem` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `holidayPackageId` INTEGER NOT NULL,
    `title` VARCHAR(191) NOT NULL,
    `subtitle` VARCHAR(191) NULL,
    `description` TEXT NULL,
    `image` VARCHAR(191) NULL,
    `price` DOUBLE NOT NULL,
    `originalPrice` DOUBLE NULL,
    `rating` DOUBLE NULL,
    `reviews` INTEGER NULL,
    `duration` VARCHAR(191) NULL,
    `accent` VARCHAR(191) NULL,

    INDEX `HolidayPackageItem_holidayPackageId_fkey`(`holidayPackageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `hotel` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `city` VARCHAR(191) NOT NULL,
    `durationNights` INTEGER NOT NULL,
    `starRating` INTEGER NOT NULL,
    `roomType` VARCHAR(191) NOT NULL,
    `description` TEXT NOT NULL,
    `packageId` INTEGER NOT NULL,

    INDEX `Hotel_packageId_fkey`(`packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `image` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `url` VARCHAR(191) NOT NULL,
    `packageId` INTEGER NOT NULL,

    INDEX `Image_packageId_fkey`(`packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `package` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(191) NOT NULL,
    `slug` VARCHAR(191) NOT NULL,
    `shortDesc` TEXT NOT NULL,
    `description` TEXT NOT NULL,
    `price` INTEGER NOT NULL,
    `durationDays` INTEGER NOT NULL,
    `durationNights` INTEGER NOT NULL,
    `month` VARCHAR(191) NOT NULL,
    `star` INTEGER NOT NULL,
    `type` VARCHAR(191) NOT NULL,
    `country` VARCHAR(191) NOT NULL,
    `city` VARCHAR(191) NOT NULL,
    `category` VARCHAR(191) NOT NULL,
    `featured` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `Package_slug_key`(`slug`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `packageexclusion` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(191) NOT NULL,
    `packageId` INTEGER NOT NULL,

    INDEX `PackageExclusion_packageId_fkey`(`packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `packageimage` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `url` VARCHAR(191) NOT NULL,
    `packageId` INTEGER NOT NULL,

    INDEX `PackageImage_packageId_fkey`(`packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `packageinclusion` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(191) NOT NULL,
    `packageId` INTEGER NOT NULL,

    INDEX `PackageInclusion_packageId_fkey`(`packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `sightseeing` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `items` LONGTEXT NOT NULL,
    `romanticExperiences` LONGTEXT NOT NULL,
    `guideIncluded` BOOLEAN NOT NULL DEFAULT true,
    `packageId` INTEGER NOT NULL,

    UNIQUE INDEX `Sightseeing_packageId_key`(`packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `topdestinations` (
    `id` VARCHAR(191) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `country` VARCHAR(100) NOT NULL,
    `category` VARCHAR(50) NOT NULL,
    `image` VARCHAR(500) NOT NULL,
    `rating` INTEGER NOT NULL,
    `duration` VARCHAR(50) NOT NULL,
    `features` LONGTEXT NOT NULL,
    `trustpilotScore` INTEGER NOT NULL,
    `price` INTEGER NOT NULL,
    `location` VARCHAR(255) NOT NULL,
    `bestTimeToVisit` VARCHAR(255) NOT NULL,
    `highlights` LONGTEXT NOT NULL,
    `shortDesc` VARCHAR(1000) NOT NULL,
    `desc` LONGTEXT NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `transportation` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `type` VARCHAR(191) NOT NULL,
    `routeDetails` TEXT NOT NULL,
    `extras` TEXT NOT NULL,
    `packageId` INTEGER NOT NULL,

    UNIQUE INDEX `Transportation_packageId_key`(`packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `umrahpackage` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(191) NOT NULL,
    `slug` VARCHAR(191) NOT NULL,
    `shortDesc` TEXT NOT NULL,
    `description` TEXT NOT NULL,
    `star` ENUM('STAR_1', 'STAR_2', 'STAR_3', 'STAR_4', 'STAR_5') NOT NULL,
    `type` ENUM('RAMADAN', 'MONTHLY', 'NORMAL', 'WOMEN', 'LUXURY', 'CHEAP') NOT NULL,
    `month` VARCHAR(191) NULL,
    `duration` INTEGER NOT NULL,
    `makkahHotel` VARCHAR(191) NOT NULL,
    `madinahHotel` VARCHAR(191) NOT NULL,
    `price` DOUBLE NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `isFeatured` BOOLEAN NOT NULL DEFAULT false,

    UNIQUE INDEX `UmrahPackage_slug_key`(`slug`),
    INDEX `UmrahPackage_star_idx`(`star`),
    INDEX `UmrahPackage_type_idx`(`type`),
    INDEX `UmrahPackage_type_star_idx`(`type`, `star`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `email` VARCHAR(191) NOT NULL,
    `password` VARCHAR(191) NOT NULL,
    `fullname` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `User_email_key`(`email`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `visaassistance` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `supportedRegion` VARCHAR(191) NOT NULL,
    `agency` VARCHAR(191) NOT NULL,
    `requiredDocuments` LONGTEXT NOT NULL,
    `packageId` INTEGER NOT NULL,

    UNIQUE INDEX `VisaAssistance_packageId_key`(`packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `flightdetail` ADD CONSTRAINT `FlightDetail_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `package`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `highlight` ADD CONSTRAINT `Highlight_holidayBreakId_fkey` FOREIGN KEY (`holidayBreakId`) REFERENCES `holidaybreaks`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `holidaybreakfeatures` ADD CONSTRAINT `HolidayBreakFeatures_holidayBreakId_fkey` FOREIGN KEY (`holidayBreakId`) REFERENCES `holidaybreaks`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `holidaybreakimage` ADD CONSTRAINT `HolidayBreakImage_holidayBreakId_fkey` FOREIGN KEY (`holidayBreakId`) REFERENCES `holidaybreaks`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `holidaypackageimage` ADD CONSTRAINT `HolidayPackageImage_holidayPackageId_fkey` FOREIGN KEY (`holidayPackageId`) REFERENCES `holidaypackage`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `holidaypackageitem` ADD CONSTRAINT `HolidayPackageItem_holidayPackageId_fkey` FOREIGN KEY (`holidayPackageId`) REFERENCES `holidaypackage`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `hotel` ADD CONSTRAINT `Hotel_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `package`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `image` ADD CONSTRAINT `Image_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `package`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `packageexclusion` ADD CONSTRAINT `PackageExclusion_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `umrahpackage`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `packageimage` ADD CONSTRAINT `PackageImage_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `umrahpackage`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `packageinclusion` ADD CONSTRAINT `PackageInclusion_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `umrahpackage`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `sightseeing` ADD CONSTRAINT `Sightseeing_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `package`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `transportation` ADD CONSTRAINT `Transportation_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `package`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `visaassistance` ADD CONSTRAINT `VisaAssistance_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `package`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

